body {
    font-family: sans-serif;
    background-color: #eee;
    color: #111;
}

code {
    padding: 2px;
    border-radius: 1px;
    background-color: #edd;
    color: #d11;
}

a {
    color: inherit;
}

footer {
    margin-top: 2em;
}